
{% extends "base.html.twig" %}

{% import "badm/macroForm.html.twig" as form %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="col" style="text-align: right;font-weight: bold;">
                <h4>Demande d'Ordre de Mission</h4>
            </div>
            <form method="POST" action="">

                <div class="row">
                    {{ form.select('typeMission', 'Type de Mission', {ENTREE_EN_PARC: 'ENTREE EN PARC', CHANGEMENT_AGENCE_SERVICE: "CHANGEMENT D’AGENCE/SERVICE", CHANGEMENT_DE_CASIER: 'CHANGEMENT DE CASIER', MISE_AU_REBUT: 'MISE AU REBUT', CESSION_ACTIF: "CESSION D’ACTIF" })}}
                </div>
                <div class="row">
                    {{form.inputNumber('idMateriel', 'ID matériel', null,  {endpoint: '12', class: 'col-lg-4 col-md-6'})}}
                   {{form.inputText('numeroParc', 'Numéro parc', null,  {endpoint: '12', class: 'col-lg-4 col-md-6'} )}}
                   {{form.inputText('numeroSerie', 'Numéro de série',null,  {endpoint: '12', class: 'col-lg-4 col-md-6'} )}}
                </div>
                <div class="row mt-2">
                   

                        <button type="submit" class="btn btn-info"> Suivant</button>
                   
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}
