{% extends "baseTemplate.html.twig" %}

    {% block stylesheets%}
        <link rel="stylesheet" href="/Hffintranet/Views/css/ListDomRech.css">
    {% endblock%}

    {% block content %}
    <!-- DEBUT recherche -->
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="input-group mb-2">
                        <span class="input-group-text">Type de mouvement</span>
                        <select name="typeMouvement" id="typeMouvement" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="input-group mb-2">
                        <span class="input-group-text">Id matériel</span>
                        <input type="search" name="idMateriel" id="idMateriel" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <small class="dateCreationMessage" id="dateCreationMessage"></small>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                <div class="input-group mb-2">
                    <span class="input-group-text">Date de demande (début)</span>
                    <input type="date" name="dateDemandeDebut" id="dateDemandeDebut" class="form-control">
                </div>
            </div>
            <small class="dateCreationMessage" id="dateCreationMessage"></small>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                <div class="input-group mb-2">
                    <span class="input-group-text">Date de demande (fin)</span>
                    <input type="date" name="dateDemandeFin" id="dateDemandeFin" class="form-control">
                </div>
            </div>
        </div>


        <!-- FIN recherche -->




        <!-- DEBUT bouton -->
        <div class="row justify-content-center mx-6">
            <div class="col-xxl-4">
                <input type="submit" name="recherche" id="recherche" class="btn  fw-bold" style="background-color: #FBBB01 ;" value="Rechercher">
                <input type="submit" name="recherche" id="reset" class="btn btn-dark text-white" value="Effacer">
                <input type="submit" name="exportExcel" id="export" class="btn btn-success" value="Export Excel">
            </div>
        </div>
        <!-- FIN bouton -->



        <!-- DEBUT affichage de text no resultat -->
        <div id="noResult">

        </div>
        <!-- FIN -->



        <!-- DEBUT nombre  -->
        <div class=" row justify-content-center mx-6">
            <!-- <div class="col-6 mp-8">
                <select class="bg-dark text-white" name="nombreLigne" id="nombreLigne">
                    <option value="15">15</option>
                    <option value="100">100</option>
                </select>
            </div> -->

            <div class="col-4 ">
                <p class="fw-bold" id="nombreResultat"></p>
            </div>

        </div>
        <!-- FIN nombre-->



        <!-- DEBUT tableau -->
        <div class="Contenue table-plein-ecran">
            <div>
                <table class="table  table-striped table-shadow shadow  rounded ">
                    <thead class="table-dark">
                        <tr>
                            <th style="text-align: center;">Action</th>
                            <th>ID</th>
                            <th>Statut</th>
                            <th>Sous type</th>
                            <th>N° DOM</th>
                            <th>Date de demande</th>
                            <th>Motif de déplacement</th>
                            <th style="text-align: center;">Matricule</th>
                            <th>Nom</th>
                            <th>Prénoms</th>
                            <th>Mode de paiement</th>
                            <th>Agence - Service</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Nbr jours</th>
                            <th>Client</th>
                            <th>Fiche</th>
                            <th>Lieu d'intervention</th>
                            <th>Num vehicule</th>
                            <th>Total autres dépense</th>
                            <th>Total général payer</th>
                            <th>Devis</th>
                        </tr>
                    </thead>
                    <tbody id="table-container">

                    </tbody>
                </table>
            </div>
        </div>
        <!-- FIN tableau -->
        <div class="container ">
            <div id="pagination-wrapper"></div>
        </div>
        <!-- DEBUT Pagination -->
        <nav class=col-9>
            <ul class="pagination justify-content-end">

            </ul>
        </nav>
        <!-- FIN Pagination -->

    </div>


    {% block javascript %}
        <script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
        <script src="/Hffintranet/Views/js/ListBadm.js"></script>
    {% endblock %}
